{% extends "base.html" %}

        {% block content %}
            <form method='post'>
                <label>
                    Title for new blog entry:
                    <br />
                    <input type='text' name='blog-title' value={{blog_title}}>
                </label>

                <p><h3 class='error'>{{t_error }}</h3></p>

                <label>
                    New blog entry:
                    <br />
                    <textarea name='blog-body' cols='50' rows='10'>{{ blog_body }}</textarea>
                    
                </label>
                
                <p></p>

                <input type="submit" value="Add Entry" />

                <p><h3 class='error'>{{b_error }}</h3>
                </p>
            </form>

        {% endblock %}
            
